<br>
<div class="card">
    <div class="card-header">

        <h5>Gestion del personal</h5>
    </div>
    <div class="card-body">



        <!-- [routerLink]="['/personal','nuevo']"-->
        <button [routerLink]="['/nuevo','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"></i> 
                  Crear Personal
                </button>

        <br>



        <table class="table table-dark">
            <thead>
                <tr>

                    <th scope="col">cedula</th>
                    <th scope="col">area</th>
                    <th scope="col">cargo</th>
                    <th scope="col">email</th>
                    <th scope="col">nombre</th>
                    <th scope="col">fecha Nacimiento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let personal of personales">


                    <td>{{personal.cedula}}</td>
                    <td>{{personal.area}}</td>
                    <td>{{personal.cargo}}</td>
                    <td>{{personal.email}}</td>
                    <td>{{personal.nombre}}</td>
                    <td>{{personal.fecha_nacimiento}}</td>
                    <td><button [routerLink]="['/nuevo', personal._id]" type="button" class="btn btn-info">Actualizar</button></td>
                    <td><button (click)="borrarPersonal(personal)" type="button" class="btn btn-danger">eliminar</button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>